<div *ngIf="workout">
  
  <h2>{{ workout.type }}</h2>

  <label>Date:
    <input [ngModel]="workout.date | date:'yyy-MM-dd'" (ngModelChange)="workout.date = $event" type="date" name="workout.date">
  </label>

  <h3>Exercises</h3>
  
  <ul>
    <li *ngFor="let exercise of workout.exercises">
      <b>{{ exercise.name }}</b>
      <label>sets:
        <input [(ngModel)]="exercise.sets" placeholder="sets">
      </label>
      <label>reps:
        <input [(ngModel)]="exercise.reps" placeholder="reps">
      </label>
      <label>weight:
        <input [(ngModel)]="exercise.weight" placeholder="weight">
      </label>
    </li>
  </ul>
  
</div>

<button (click)="goBack()">go back</button>

<button (click)="save()">save</button>