<div>
    <ul>
        <li *ngFor="let workout of workouts"
            (click)="onSelect(workout)"
            [class.selected]="workout === selectedWorkout">
            <h2>{{ workout.type }}</h2>
            <div>
                <label>Date:
                    <input
                        [ngModel]="workout.date | date:'yyy-MM-dd'"
                        (ngModelChange)="workout.date = $event"
                        type="date"
                        name="workout.date">
                </label>
            </div>
        </li>
    </ul>
</div>
<div *ngIf="selectedWorkout">
    <h2>Exercises</h2>
    <ul>
        <li *ngFor="let exercise of selectedWorkout.exercises">
            <b>{{ exercise.name }}</b>
            <span>{{ exercise.sets }}x{{ exercise.reps }} @ {{ exercise.weight }}lb</span>
        </li>
    </ul>
</div>