<div>
    <ul>
        <li *ngFor="let workout of workouts">
            <a routerLink="/detail/{{ workout.id }}">
                <h2>{{ workout.type }}</h2>
                <div>
                    <label>Date:
                        <input
                            [ngModel]="workout.date | date:'yyy-MM-dd'"
                            (ngModelChange)="workout.date = $event"
                            type="date"
                            name="workout.date">
                    </label>
                </div>
            </a>
        </li>
    </ul>
</div>
